* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-family: Tahoma, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --white-color: #fff;
    --text-color: #333;
    --primary-color: rgb(255, 165, 0);

    --header-height: 120px;
    --height-nav: 30px;
    --header-search: calc(var(--header-height) - var(--height-nav));
}

.grid {
    width: 1200px;
    margin: 0px auto;
    max-width: 100%;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.modal__body {
    width: 500px;
    height: 420px;
    background-color: var(--white-color);
    margin: auto;
    z-index: 2;
    position: relative;
    border-radius: 3px;
}

/* Layout */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.66667%;
}

.col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}


.col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
